@charset "utf-8";
/* CSS Document */

/*common*/
.commonWidth{ width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{ float:left;}
.rightArea{ float:right; font-size:	14px;}

/*topBar*/
.topBar{ height: 31px; background-color:#F7F7F7; line-height:31px;}
.collection{ background:url(../images/icon/collection.jpg) left center no-repeat;; padding-left: 19px; font-weight:bold;/*bold*/}

/*topBar hover (no space between "a:" and "hover")*/
.topBar a:hover{color:red;} 

/*logoBar*/
.logoBar { height: 85px; background-color: #1D7AD9; }
.logo { padding-left: 41px; padding-top: 13px; float:left;}

/*search*/
.search_box{ width:430px; padding-top:23px; padding-left:185px; float:left;}
.search_text{ width: 350px; height: 35px;  line-height:35px\9; /*css hack  "\9" for IE6 to adjust the height*/ float:left; padding:0 5px; background-color:#FFFFFF}
.search_btn { width: 70px; height: 35px; font-size:14px; font-family:"Arial Black", Gadget, sans-serif; background-color:#FF8C00; color: white; /* font-color, not backgroundcolor */float:right;}

/*shopCar*/
.shopCar { width: 145px; height: 35px; background-color: #FF8800; margin-top:23px; font-size: 14px;font-family:"Arial Black", Gadget, sans-serif;color: white; margin-right:59px;}
.shop_text{ 
	line-height: 35px;/* line-height与height高度相同,就上下居中了.*/ 
  	width: 87px; 
  	border-right: #E27A00 solid 1px;/* write a right border to divide shop_text and shop_Num.*/
  	background: url(../images/icon/shopCar.jpg) 10px center no-repeat;/*有icon的时候用background加URL图标。 x轴10px y轴center*/
	text-indent:40px;  /*缩进 因为shop跟左边框有40px距离 应该跟padding-left是一样的道理*/
	padding-left: 40px;/*padding是控件的内容相对控件的边缘的边距．margin是控件边缘相对父空间的边距 margin是对外的，padding是对内的，margin不影响内表*/}
.shop_Number{ width: 27px;border-left: #FF9C01 solid 1px; background:url(../images/icon/shop_Number.jpg) 23px center  no-repeat; text-align:right; padding-left: 5px; padding-right: 27px;}

/*navBox*/
.navBox {height: 35px; background-color:#1369C0; color: white; font-family:"Arial Black", Gadget, sans-serif;	}
.classification{ float:left; width: 190px; font-size:16;font-weight:bold;}
.classification i {width:12px; height:7px;line-height:35px; background: url(../images/icon/classification.jpg) left center no-repeat; display:inline-block; }
.nav{ line-height: 35px; font-family:"Arial Black", Gadget, sans-serif; font-family:14px;}
.nav li{ float:left;}
.nav a {height: 35px; line-height: 35px; padding: 0 35px; color:white; font-size:14; display: inline-block;}
.nav .active{ background-color: #4593FD; }
.classification h3{text-align:center; line-height:35px;}

/*popup menu*/
.shopClass_show{ background-color:#4593FD;left:0; padding-top:10px; width:100%;padding-bottom:1px;}
.shopClass_item{padding: 15px 15px 15px 25px; border-bottom:#3487F2 solid 1px; border-top:#5AA1FE solid 1px; line-height:41px;}

.shopClass_item a{color:white;}
.shopClass_item a:hover{text-decoration:underline; color:#106AC0;}
.shopClass_item dt{height:21px; line-height:1; overflow:hidden; background:url(../images/icon/shop_sj.jpg) right center no-repeat;}
.shopClass_item .b{font-family:"Arial Black", Gadget, sans-serif; font-size: 16px; color:white;}
.shopClass_item .aLink{width:48px; height:20px; background:url(../images/icon/aLink_bg.png) left center no-repeat; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}

/*bannerBar*/
.banner_bar{ width:810px; height:326px; float:left; position:relative; overflow:hidden;}/*父级相对定位*/
.imgBannerBox{ width:1620px; height:326px; position:absolute; left:0px; top:0px;}/*if change left to "-810px", then can see the second banner*/
.imgBannerBox li{ float:left;}
.imgBannerBox img{ width:810px; height:326px; display:block;}

/*nav below the banner*/
.imgNav{ position:absolute; left:0; bottom:15px; width: 100%; text-align:center;}
.imgNav a{ width:20px; height:5px; overflow: hidden; background-color: white; display:inline-block; margin:0 3px;}/*a 属于内嵌元素。不加display根本看不见*//*不加margin之前是一大块,加了margin就拆成了好几块互相有间距的小块*/
.imgNav .active{ background-color:#FF7700;}